html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

main {
  /* centered */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  /* big font and bold*/
  font-size: 2rem;
  font-weight: bold;
}
